.container-full
  .row
    .text-center.v-center.log-in
      %h1{:class => "title"} SHPE Test Bank
      %h3.lead 
        Be 
        %strong Ready 
        for your 
        %strong Test
      = form_for(resource, as: resource_name, url: session_path(resource_name), :html => {:class => 'form form-horizontal'}) do |f|
        .form-group
          .col-xs-12
            .input-group.margin-bottom-sm
              %span.input-group-addon
                %span.glyphicon.glyphicon-envelope
              = f.email_field :email, autofocus: true, :class => "form-control input-lg", :placeholder => "Email", :title => "You need to be a paid member in order to log in"
        .form-group
          .col-xs-12
            .input-group.margin-bottom-sm
              %span.input-group-addon
                %span.glyphicon.glyphicon-eye-open
              = f.password_field :password, autocomplete: "off", :class => "form-control input-lg", :placeholder => "Password"
        - if devise_mapping.rememberable?
          .form-group
            %label
              %input{:type => "checkbox"}/
              Remember me






        .actions
          =f.submit 'Log in',:class => "btn btn-lg btn-primary", :style => "color: white !important;"
      = render "devise/shared/links" 
        
  / /row
  .row
    .col-lg-12.text-center.v-center{:style => "font-size:39pt;"}
      %a{:href => "http://tamushpe.org/"}
        %i.icon-globe
      %a{:href => "https://www.facebook.com/groups/SHPETamu/"}
        %i.icon-facebook
      %a{:href => "https://twitter.com/tamushpe"}
        %i.icon-twitter
      %a{:href => "https://github.com/bote795/SHPETestBank"}
        %i.icon-github
      %a{:href => "https://instagram.com/tamushpe/"}
        %i.icon-instagram
  %br/
/ /container full
.container
  %hr/
  .row
    .col-md-4
      .panel.panel-default
        .panel-heading
          %h3 Practice Makes Perfect
        .panel-body
          Picture this: it’s 2am before the first round of tests and you still feel unprepared for your Physics 218 class.  Under normal circumstances one just gives up and goes to bed, but not at SHPE. At SHPE we exhaust every single academic resource possible, and what better way to study than by examining the work of other SHPE members who have been in your shoes.
    .col-md-4
      .panel.panel-default
        .panel-heading
          %h3 Automated System
        .panel-body
          Say good-bye to the middleman because we’ve made accessing tests easier than ever!  Never again will you have to contact directors to request access to old tests.  As long as you’re a paid SHPE member, you can register for an account to access hundreds of past exams.  We believe that all SHPE members should have the tools they need to achieve the grades they want.
    .col-md-4
      .panel.panel-default
        .panel-heading
          %h3 Earn points with your tests!
        .panel-body
          Just scan your test, send it to us through email (remember to white out your name and UIN), and get your SHPE points!  Tests with a grade A will receive 3 points and all other grades receive 1 point!  The more you submit, the more you help our SHPE Familia grow academically.  Send your tests to academicdevelopment@shpe.tamu.edu
  .row
    .col-lg-12
      %br/
      %br/
      %p.pull-right
        %a{:href => "https://github.com/TAMUSHPE"} Programmed by TAMU SHPE Programmers
        ©Copyright 2015 TAMUSHPE
      %br/
      %br/
