=content_for(:title, "Courses")
= link_to 'New Course', new_class_name_path, :class => "btn btn-default"
%br
%br
%table.table.table-striped.table-hover
  %tr
    %th Name
    %th
    %th

  - @class_names.each do |class_name|
    %tr
      %td= class_name.name
      %td= link_to 'Edit', edit_class_name_path(class_name), :class => "btn btn-link"
      %td= link_to 'Delete', class_name, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => "btn btn-link"
