%h1 Dropbox#update_database
%p Find me in app/views/dropbox/update_database.html.haml





%table.table.table-striped.table-hover
  %tr
    %th Test
  - @parsed_course.each do |item|
    %tr 
      %td= item
