=content_for(:title, "Batch Insert")
%p 
  instructions on how to export excel file:
%p
  to copy and paste 
  File > Save As > drop down save as type > CSV (comma delimted)
  %br
  Delete the first line with the column names
  Example data:
  %br
  https://github.com/,Fall 2013,Jason,45,CSCE 444,Exam 2
  %br
  https://github.com/,Fall 2012,Austin,56,CSCE 444,Exam 1
  %br
  https://github.com/,Spring 2013,Bash,85,CSCE 431,Exam 3
  %br
  https://github.com/,Sprint 2011,Yeti,94,CSCE 431,Exam 4
= form_tag insert_all_test_entries_path, :method => :post, :html =>  {class: "form-horizontal"} do
  .form-group
    .field
      = label :test, :tests, class: "col-lg-2 control-label" 
      .col-lg-10
        = text_area :test, :tests, class: "form-control"
        %span.help-block
          %em format per line:  link,semester,teacher,grade,Course,Test Category  
  = submit_tag 'Submit', class: "btn btn-primary"
