=content_for(:title, "Test Bank")
#TestBank
  %input.search{:placeholder => "Search"}/
  %button.sort.btn.btn-default{"data-sort" => "course"}
    Sort by courses

  %table.table.table-striped.table-hover
    %thead
      %th.sort{"data-sort" => "course"} Course
      %th Total
      - @ExamNames.each do |exam|
        %th= exam.name
    
    %tbody.list
      - @classes.each do |key,value|
        %tr
          %td.course= link_to key.name, detail_test_entries_path(:id => key.id), :class => "btn btn-link course"
          -value.each do |k, v|
            %td= v        
:javascript
  $(document).ready( function() {
    var options = {
      valueNames: [ 'course']
    };
    var hackerList = new List('TestBank', options);
  } );