=content_for(:title, "Batch Insert")

= form_tag insert_all_member_emails_path, :method => :post, :html =>  {class: "form-horizontal"} do
  .form-group
    .field
      = label :email, :emails, class: "col-lg-2 control-label" 
      = text_area :email, :emails, class: "col-lg-10 control-label" 
  = submit_tag 'Submit', class: "btn btn-primary"
