=content_for(:title, "Batch Insert")
%p 
  instructions on how to export excel file:
%br
%p
  to copy and paste 
  File > Save As > drop down save as type > CSV (comma delimted)
= form_tag insert_all_member_emails_path, :method => :post, :html =>  {class: "form-horizontal"} do
  .form-group
    .field
      = label :email, :emails, class: "col-lg-2 control-label"
      .col-lg-10 
        = text_area :email, :emails, class: "form-control"
        %span.help-block
          %em format per line:  email 
  = submit_tag 'Submit', class: "btn btn-primary"
