%nav.navbar.navbar-default.navbar-fixed-top.topnav{role: "navigation"}
  .container.topnav
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", type: "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      =link_to "Home", root_path, :class => "navbar-brand topnav"
    .navbar-collapse.collapse
      %ul.nav.navbar-nav
        - if current_user.admin?
          %li{:class => (current_page?(users_path)? "active" : "")} 
            =link_to "Users", users_path
          %li{:class => (current_page?(member_emails_path)? "active" : "")} 
            =link_to "Member Management", member_emails_path      
          %li{:class => (current_page?(class_names_path)? "active" : "")} 
            =link_to "Courses", class_names_path      
          %li{:class => (current_page?(class_test_names_path)? "active" : "")} 
            =link_to "Test Categories", class_test_names_path      
          %li{:class => (current_page?(test_entries_path)? "active" : "")} 
            =link_to "Test Management", test_entries_path
      %ul.nav.navbar-nav.navbar-right
        %li
          =link_to "Sign Out", destroy_user_session_path, :method => :delete
  / /.navbar-collapse

.header.container{:style => "padding-top:40px;"}
  %h1= content_for?(:title) ? yield(:title) : ""
  %p= content_for?(:extra) ? yield(:extra) : ""  
    
